.project-content-main{
    width: 100vw;
    height:100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
}

.project-content-main h1{
    font-family: ARIAL;
    font-size: 3.3rem;
    text-align: center;
    
}

.project-content{
    width: 100vw;
    height: fit-content;
    display: grid;
    grid-template-rows: repeat(2, minmax(1rem, 1fr));
    grid-template-columns: repeat(4, minmax(1rem, 1fr));
    


}

.project-container{
    display: flex;
    flex-direction: column;
    width: 30rem;
    background-color: var(--main);
    margin: 0 auto;
    box-shadow: 3px 3px 15px black;
    height: 30rem;
    
}


.image-container{
    width: auto;
    
}

.project-container img{
    margin: 0 auto;
    max-width:30rem;
    max-height:100%;
    min-width: 100%;
}


.project-content p, .project-content h1{
    color: white;
    font-family: Arial;
}

@media (max-width: 2000px){

    .project-content{
        
        height: fit-content;
        display: grid;
        grid-template-rows: repeat(2, minmax(31rem, 1fr));
        grid-template-columns: repeat(3, minmax(31rem, 1fr));
    
    }
   
}

@media (max-width: 1500px){

    .project-content{
        
        height: fit-content;
        display: grid;
        grid-template-rows: repeat(2, minmax(31rem, 1fr));
        grid-template-columns: repeat(2, minmax(31rem, 1fr));
        
    }
   
}

@media (max-width: 1000px){

    .project-content{
        
        height: fit-content;
        display: grid;
        grid-template-rows: repeat(2, minmax(31rem, 1fr));
        grid-template-columns: repeat(1, minmax(31rem, 1fr));
        
    }
   
}



