.project-content-main{
    width: 100vw;
    background-color: transparent;
    display: block;
}

.project-content-main h1{
    font-family: ARIAL;
    font-size: 3.3rem;
    text-align: center;
}

.project-content{
    width: 100vw;
    height: fit-content;
    display: grid;
}

.project-container{
    display: flex;
    flex-direction: column;
    width: 30rem;
    background-color: var(--main);
    margin-bottom: 1rem;
    margin-left: 10rem;
    box-shadow: 3px 3px 15px black;
    height: 30rem;
    
}


.image-container{
    width: auto;
    
}

.project-container img{
    margin: 0 auto;
    max-width:30rem;
    max-height:100%;
    min-width: 100%;
    
}


.project-content p, .project-content h1{
    color: white;
    font-family: Arial;
}

/* @media (max-width: 1000px){
   
} */



